 
 /* Add CSS styles here for better control */
 body, html {
    height: 100vh;
    margin: 0;
    padding: 1rem 0 0 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #FFD700 50%, #FF6B6B 50%),
                linear-gradient(to bottom, transparent 80%, #8B4513 80%, #8B4513 90%, #FFF 90%, #FFF 91%, #8B4513 91%, #8B4513 100%),
                linear-gradient(to bottom, transparent 80%, #3E4347 80%, #3E4347 85%, #FF6B6B 85%, #FF6B6B 90%, #3E4347 90% 95%, #FF6B6B 95% 100%);
    background-size: 100% 100%, 50% 100%, 50% 100%;
    background-position: left top, left bottom, right bottom;
    text-align: center;
}

#wrapper {
    min-height: 100%;
}
#div_pants {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 5px solid white;
    min-height: 10rem;


    
}
#div_pants #div_sbobPants{
background-image: url(/static/resources/sponge_bob_pantsResize.png);
}
#div_pants #div_pckShorts{
background-image: url(/static/resources/patrick_pants.jpg);
}
#div_pants *{
    width: 50%;
}
#form_container input{
background-color: #28c7d0;
color: #FFF;
border-radius: 5px;
padding: 1%;
font-weight: bold;

}
#form_container input:hover {
    background-color: #26bfc7;
    color: #FFF;
    cursor: pointer;
    }

    h1 {
        color: #2ad4de;
        word-spacing: 0.1rem;
        letter-spacing: 0.05rem;
        font-size:2.5rem
        }

/* div holding everything */
#form_container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 44%;
    margin: 1rem auto;
}
/* div holding upload area button and input */
.upload-area {
    margin-top: 20px;
}

/* div holding display image */
.image-display img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
  }
  
  .upload-btn:hover {
    background-color: #2980b9;
  }

  #img_input {
    border-radius: 5px;
    border: 2px solid white;
  }
  p{
    color: white;
    font-weight: bolder;
    font-size: 2rem;
  }
  
  